<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

<!-- Add a nav bar here -->
{% include 'nav_bar.html' %}

<!-- Add reviews as cards -->
<!-- print Reviews for "dealership name"-->
<h1>Reviews for {{dealer.full_name}}</h1>

{% if user.is_authenticated %}
    <a href="{% url 'djangoapp:add_review' dealer.id %}" class="btn btn-primary">Add a review</a>
{% else %}
    <p>Please <a href="#login">login</a> to add a review</p>
{% endif %}

{% for review in reviews %}
    <div class="card" style="width: 18rem;">
        <!-- use the images from the following path static/media/emoji -->
        <img src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" class="card-img-left" style="width: 40px; height: 40px;" alt="sentiment">
        <div class="card-body">
            <!-- create several card titles that display the car model name, make, and purchase year. -->
            <h5 class="card-title">{{review.car_model}}</h5>
            <p class="card-text">{{review.purchase_date}}</p>
            <p class="card-text">Review: {{review.review}}</p>
        </div>
    </div>
{% endfor %}

</body>

</html>
